{% extends "bace.html" %}
{% load static %}

<!-- this is content section -->
{% block content %}
    <h5>home</h5>
    {% include 'includes/post_card.html' %}
    {% include 'includes/post_card.html' %}
    {% include 'includes/post_card.html' %}
    {% include 'includes/post_card.html' %}
    {% include 'includes/post_card.html' %}
{% endblock content %}

<!-- ths is side bar -->
{% block side %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
{% endblock side %}