{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    -{{post.title}}
{% endblock title %}

{% block content %}

<!-- post main body -->
<div class="m-3 p-3">
    <div class="p-2">
        <h2 style="display: inline">{{post.title}} </h2>
        <small class="text-muted">{{post.created_date|timesince}} ago </small>
        <div class="">{{post.description}}</div>
        {% if post.image %}
        <center><img src="{{ post.image.url }}"></center>
        {% endif %}

        <p class="">{{post.body|safe}}</p>
    </div>
    <hr>
    <!--   tags and keywords  -->
    <span class=" p-2 bg-light" style="display: inline">
        <h6>keywords :</h6>
        {% for tag in tags %}
            <a class="btn btn-xs btn-outline-dark" href="{% url 'post:by_keyword' tag %}" style="display: inline">
                {{tag}}
            </a>
        {% endfor %}
    </span>
    <hr>
    <!--   list of comments :  -->
    <strong>comments :</strong>
    <div class="bg-light">
        {% for comment in comments%}
        <div class=" m-2">
            <strong>{{comment.user.username}}</strong>
            <span> - {{comment.comment_date|timesince}}</span>
            <div>{{comment.body}}</div>
            <br>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

<!--side section-->

{% block side%}

{% if request.user.is_authenticated%}
<div class="p-2">
    <h5>did you like this post?</h5>
    <a class="btn btn-outline-danger" href="{% url 'post:vote' post.id %}">
        Like ({{post.vote_count}})
    </a>
</div><br>
<!--    comment form :   -->
<div class=" bg-light">
    <h5> share your comment </h5>
    <form action="" method="post">
        {% csrf_token %}
        {{comment_form|crispy}}
        <button class="btn btn-primary" style="width: 100%">post</button>
    </form>
</div>
{% else %}
<div class="bg-warning p-1">
    if you want to share your comment
    or like this post and add it to your
    favorite posts you must log in !
</div>
{% endif %}
{% endblock side%}