{% extends 'base.html' %}

{% block title %}
    -favorites
{% endblock title %}

{% block content %}
<div class="m-2">
    <h4>{{title}}</h4>
    {% for fav in favorites %}
    <div class="card">
        <div class="card-body">
            {% if post.image %}
            <img src="{{ fav.post.image.url }}" style="float: right;">
            {% endif %}
            <small class="text-muted">{{fav.post.created_date}}</small>
            <a href="{% url 'post:detail' fav.post.slug %}">
                <h5 class="card-title">{{fav.post.title}}</h5>
            </a>
            <p class="card-text">
                {{fav.post.description}}
            </p>
            <small>❤:{{fav.post.vote_count}}</small>

        </div>
    </div>
    <br>
    {% empty %}
    <div class="alert alert-info">you have no favorite post</div>
    {% endfor %}
</div>
{% endblock %}

<!-- side section -->

{% block side %}
    <div class="alert alert-info">
        <a href="{% url 'home:home' %}">Home</a><br>
        <a href="{% url 'post:posts' %}">all posts</a>
    </div>
{% endblock %}