@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@200;300;400;500;700&display=swap');
*{
    font-family: 'Poppins',sans-serif;
}

body.style{
    background-color: #F5F5F5;
}

/* main part of the template  */
div.container {
    background-color: #FFFFFF;
    padding: 10px;
    min-height:100vh;
}

/* where the posts are sorted */
div.col-md-9 {
    border-radius: 8px;
}

/* technerd logo above the website */
h3.technerd {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #6E85B7;
    transform: scale(.5);
    animation: pop 1.5s forwards;
}


/* navbar of website */
nav {
    background-color: #6E85B7;

}

div.card-header {
    background-color: #B2C8DF;
}
div.card-body{
    border : none;
}
h5{
    padding-top: 15px;
}

div.footer{
    background-color: #6E85B7;
    text-align: center;
    color: white;
}

img{
    width: 200px;
    height: 200px;
}

a{
    text-decoration: none!important;
}

/* post detail */
.detail-side-msg{
    padding: 10px !important;
}

/* responsive */
@media(max-width:650px){
    *{
        font-size: 28px;
    }
}


/* animations */
@keyframes pop{
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}