/* ================= start  fonts =========================== */
  @font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 300;
    src: url("/static/fonts/Vazir-Light.eot");
    src: url("/static/fonts/Vazir-Light.woff") format("woff"),
      url("/static/fonts/Vazir-Light.ttf") format("ttf"),
      url("/statiic/fonts/Vazir-Light.woff2") format("woff2");
  }

  @font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 400;
    src: url("/static/fonts/Vazir.eot");
    src: url("/static/fonts/Vazir.woff") format("woff"),
      url("/static/fonts/Vazir.ttf") format("ttf"),
      url("/static/fonts/Vazir.woff2") format("woff2");
  }
  @font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 950;
    src: url("/static/fonts/Vazir-Bold.eot");
    src: url("/static/fonts/Vazir-Bold.woff") format("woff"),
      url("/static/fonts/Vazir-Bold.ttf") format("ttf"),
      url("/static/fonts/Vazir-Bold.woff2") format("woff2");
  }

/* ================= end  fonts =========================== */

body {
    font-family: 'vazir', Arial;
    direction: rtl;
}


/* main part of the template  */
div.container {
    background-color: #FFFFFF;
    padding: 10px;
    min-height:100vh;
}

/* where the posts are sorted */
div.col-md-9 {
    border-radius: 8px;
}

/* technerd logo above the website */
h3.technerd {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #6E85B7;
    transform: scale(.5);
    animation: pop 1.5s forwards;
}


/* navbar of website */
nav {
    background-color: #6E85B7;

}

div.card-header {
    background-color: #B2C8DF;
}
div.card-body{
    border : none;
}
h5{
    padding-top: 15px;
}

div.footer{
    background-color: #6E85B7;
    text-align: center;
    color: white;
}

img{
    width: 200px;
    height: 200px;
}

a{
    text-decoration: none!important;
}

/* post detail */
.detail-side-msg{
    padding: 10px !important;
}

/* responsive */
@media(max-width:650px){
    *{
        font-size: 28px;
    }
}


/* animations */
@keyframes pop{
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}